<%= form_with(model: @approval, url: approval_path(@approval), remote: false) do |form| %>
  <% if @approval.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% @approval.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1><%= t('addition.Editing Paid Leave') %></h1>

    <div>
      <%= form.label :request_date %>
      <%= form.date_field :request_date, class: "form-control" %>
    </div>

    <div>
      <%= form.label :acquisition_date %>
      <%= form.date_field :acquisition_date, class: "form-control" %>
    </div>

    <div>
      <%= form.label :paid_remarks %>
      <%= form.text_area :paid_remarks, class: "form-control", placeholder: "特記事項あれば記入 例）介護休暇" %>
    </div>
    
    <div>
      <%= form.label :paid_applicable %>
      <%= form.check_box :paid_applicable %>
    </div>

    <div>
      <%= form.submit class: "btn btn-outline-primary mt-4" %>
    </div>
<% end %>


<br>
