<%= form_with(model:  @registration_form, url: users_path, remote: false) do |form| %>
  <h1>New user</h1>
  

  <h2>basic information</h2>

  <%= fields_for form.object.user do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :department %>
    <%= form.select :department, User.departments.keys, { include_blank: true } %>
  </div>

  <div>
    <%= form.label :password_digest %>
    <%= form.text_field :password_digest %>
  </div>
  <% end %>

  <%= fields_for form.object.paid_leave do |form| %>
    <div>
      <%= form.label :joining_date %>
      <%= form.date_field :joining_date %>
    </div>

    <div>
      <%= form.label :part_time %>
      <%= form.check_box :part_time, {checked: false}, true, false  %>
    </div>

    <div>
      <%= form.label :classification %>
      <%= form.select :classification, PaidLeave.classifications.keys, { include_blank: true } %>
    </div>
  <% end %>

  <%= fields_for form.object.car do |form| %>
    <div>
      <%= form.label :company_car %>
      <%= form.text_field :company_car %>
    </div>

    <div>
      <%= form.label :private_car %>
      <%= form.text_field :private_car %>
    </div>
  <% end %>

  <h2>paid leave information</h2>

  <%= fields_for form.object.paid_leave do |form| %>
    <div>
      <%= form.label :base_date %>
      <%= form.date_field :base_date %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>


<br>

<div>
  <%= link_to "Back to users", users_path %>
</div>
