<%= form_with(model: paid_leafe) do |form| %>
  <% if paid_leafe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(paid_leafe.errors.count, "error") %> prohibited this paid_leafe from being saved:</h2>

      <ul>
        <% paid_leafe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :joining_date, style: "display: block" %>
    <%= form.date_field :joining_date %>
  </div>

  <div>
    <%= form.label :base_date, style: "display: block" %>
    <%= form.date_field :base_date %>
  </div>

  <div>
    <%= form.label :part_time, style: "display: block" %>
    <%= form.check_box :part_time %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :paid_remarks, style: "display: block" %>
    <%= form.text_area :paid_remarks %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
