<div id="<%= dom_id paid_leave %>">
  <p>
    <strong>Joining date:</strong>
    <%= paid_leave.joining_date %>
  </p>

  <p>
    <strong>Base date:</strong>
    <%= paid_leave.base_date %>
  </p>

  <p>
    <strong>Part time:</strong>
    <%= paid_leave.part_time %>
  </p>

  <p>
    <strong>User:</strong>
    <%= paid_leave.user_id %>
  </p>

  <p>
    <strong>Paid remarks:</strong>
    <%= paid_leave.paid_remarks %>
  </p>

</div>
