<h1><%= t('addition.Editing Paid Leave') %></h1>

<%= form_with(model: @paid_leafe) do |form| %>
  <% if @paid_leafe.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(@paid_leafe.errors.count, "error") %> prohibited this paid_leafe from being saved:</h2>

      <ul>
        <% @paid_leafe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form.fields_for :approvals do |approval_form| %>
    <div>
      <%= approval_form.label :request_date %>
      <%= approval_form.date_field :request_date, class: "form-control" %>
    </div>

    <div>
      <%= approval_form.label :acquisition_date %>
      <%= approval_form.date_field :acquisition_date, class: "form-control" %>
    </div>

    <div>
      <%= approval_form.label :paid_remarks %>
      <%= approval_form.text_area :paid_remarks, class: "form-control" %>
    </div>
    
    <div>
      <%= approval_form.label :paid_applicable %>
      <%= approval_form.check_box :paid_applicable %>
    </div>

    <div>
      <%= approval_form.submit class: "btn btn-outline-primary mt-4" %>
    </div>
  <% end %>
<% end %>


<br>
