
<h1><%= t('addition.Paid Leaves') %></h1>

<%= I18n.l(Date.today, format: :middle) %>

<table class="table table-striped">
  <thead>
    <tr class="table-primary">
      <th>No</th>
      <th><%= t('addition.Name') %></th>
      <th><%= t('addition.Joining') %></th>
      <th><%= t('addition.Basis') %></th>
      <th><%= t('addition.Possession') %></th>
      <th><%= t('addition.Plan') %></th>
      <th><%= t('addition.Achievements') %></th>
      <% (4..12).each do |month| %>
        <th><%= month %>月</th>
      <% end %>
      <% (1..3).each do |month| %>
        <th><%= month %>月</th>
      <% end %>
      <th></th>
    </tr>
  </thead>

<tbody>
  <% @user_service.each_with_index do |service, index|%>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= service[:user].name %></td>
      <td><%= I18n.l(service[:user].paid_leave.joining_date, format: :middle) %></td>
      <td><%= I18n.l(service[:user].paid_leave.base_date, format: :middle) %></td>
      <td><%= service[:discrimination] %></td>
      <td><%= service[:discrimination] %></td>
      <td><%= service[:achievements] %></td>

      <% (4..12).each do |month| %>
        <td>
          <%= service[:items][month.to_f] || 0 %>
        </td>
      <% end %>
      
      <% (1..3).each do |month| %>
        <td>
          <%= service[:items][month.to_f] || 0 %>
        </td>
      <% end %>
    
      <td>
        <%= link_to t('addition.Show'), paid_leafe_path(service[:paid_leave].id), class: "btn btn-outline-primary" %>  
      </td>
    </tr>
  <% end %>
</tbody>
</table>

<br>






