

<h1><%= Date.today.year %><%= t('addition.Paid leaves Show') %></h1>

<p class="text-end text-decoration-underline"><%= t('activerecord.attributes.user.department') %>&nbsp;&nbsp;<%= @paid_leave.user.department_i18n %></p>
<p class="text-end text-decoration-underline"><%= t('activerecord.attributes.user.name') %>&nbsp;&nbsp;<%= @paid_leave.user.name %></p>

<table class="table table-bordered mb-0">
  <tbody>
      <tr>
        <td colspan="2" class="table-primary"><%= t('activerecord.attributes.paid_leave.base_date') %></td>
        <td colspan="4"><%= I18n.l(@paid_leave.base_date, format: :middle) %></td>
      </tr>
      <tr>
        <td colspan="2" class="table-primary"><%= t('addition.Validity Period') %></td>
        <td colspan="4"><%= "#{I18n.l(@paid_leave.base_date, format: :middle)}～#{I18n.l(@paid_leave.base_date.next_year - 1, format: :middle)}" %></td>
      </tr>
      <tr>
        <td ><%= t('addition.Total Days') %></td>
        <td><%= @total_days %></td>

        <td><%= t('addition.Carry Over') %></td>
        <td><%= @carry_over %></td>

        <td><%= t('addition.Granted This Year') %></td>
        <td><%= @discrimination %></td>
      </tr>
  <tbody>
</table>
<table class="table table-striped">
  <thead>
    <tr class="table-primary">
      <th>No</th>
      <th><%= t('addition.Date of notification') %></th>
      <th><%= t('addition.Application Date') %></th>
      <th><%= t('addition.Remaining Days') %></th>
      <th><%= t('addition.Personal Stamp') %></th>
      <th><%= t('addition.Approval Stamp') %></th>
      <th><%= t('addition.Remarks') %></th>
      <th><%= t('addition.Applicable') %></th>
      <% if current_user.admin? %>
        <th></th>
      <% end %>
    </tr>
  </thead>
    
  <tbody>
    <% @paid_leave.approvals.each_with_index do |approval, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= I18n.l(approval.request_date, format: :middle) %></td>
        <td><%= I18n.l(approval.acquisition_date, format: :middle) %></td>
        <td><%= @total_days %></td>
        <td></td> <!-- 空のセル -->
        <td></td> <!-- 空のセル -->
        <td><%= approval.paid_remarks %></td>
        <td><%= approval.paid_applicable ? '適用' : '未適用' %></td>

        <div>
          <% if current_user.admin? %>
            <td><%= link_to t('addition.Edit'), edit_approval_path(approval.id), class: "btn btn-outline-primary" %></td>
          <% end %>
        </div>
      </tr>      
    <% end %>
  </tbody>
</table>
  
<div>
  <%= link_to t('addition.Back'), paid_leaves_path, class: "text-decoration-none" %>
</div>
