<%= form_with model: [:admin, @user], remote: false do |form| %>  
  <% if @registration_form.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@registration_form.errors.count, "error") %> prohibited this paid_leafe from being saved:</h2>

      <ul>
        <% @registration_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1><%= t('addition.Editing user') %></h1>


  <h2><%= t('addition.basic information') %></h2>

  <%= fields_for @user do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div>
     <%= form.label :email %>
     <%= form.text_field :email %>
    </div>

    <div>
      <%= form.label :department %>
      <%= form.select :department, User.departments.keys, { include_blank: true } %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.text_field :password %>
    </div>

    <div>
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    </div>
  <% end %>

  <%= fields_for form.object.paid_leave do |form| %>
    <div>
      <%= form.label :joining_date %>
      <%= form.date_field :joining_date %>
    </div>

    <div>
      <%= form.label :part_time %>
      <%= form.check_box :part_time, {checked: false}, true, false  %>
    </div>

    <div>
      <%= form.label :classification %>
      <%= form.select :classification, PaidLeave.classifications.keys, { include_blank: true } %>
    </div>
  <% end %>

  <%= fields_for form.object.car do |form| %>
    <div>
      <%= form.label :company_car %>
      <%= form.text_field :company_car %>
    </div>

    <div>
      <%= form.label :private_car %>
      <%= form.text_field :private_car %>
    </div>
  <% end %>

<h2><%= t('addition.paid leave information') %></h2>

<%= fields_for form.object.paid_leave do |form| %>
  <div>
    <%= form.label :base_date %>
    <%= form.date_field :base_date %>
  </div>

  <div>
    <p><%= t('addition.Total Days') %>&nbsp;&nbsp;<%= @total_days %></p>
    <%= form.label :adjustment_value, "Adjustment (add/subtract)" %>
    <%= form.number_field :adjustment_value, value: 0 %>
  </div>

  <div>
    <p><%= t('addition.Possession') %>&nbsp;&nbsp;<%= @discrimination %></p>
    <%= form.label :adjustment_plan_value, "Adjustment (add/subtract)" %> 
    <%= form.number_field :adjustment_plan_value, value: 0 %> 
  </div>

  <div>
    <p><%= t('addition.Carry Over') %>&nbsp;&nbsp;<%= @carry_over %></p>
    <%= form.label :adjustment_carry_over, "Adjustment (add/subtract)" %> 
    <%= form.number_field :adjustment_carry_over, value: 0 %> 
  </div>
<% end %>

<%= fields_for form.object.grant do |form| %>
  <div>
    <%= form.label :granted_piece %>
    <%= form.number_field :granted_piece, min: 0 %>
  </div>

  <div>
    <%= form.label :granted_day %>
    <%= form.date_field :granted_day %>
  </div>
<% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>


<br>

<div>
  <%= link_to "Back to users", admin_users_path %>
</div>
