<%= form_with(model: @alcohol_log, remote: false) do |form| %>
  <% if @alcohol_log.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@alcohol_log.errors.count, "error") %> prohibited this paid_leafe from being saved:</h2>

      <ul>
        <% @alcohol_log.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<h1><%= t('addition.Editing alcohol log') %></h1>

<%= form_with model: @alcohol_log do |form| %>
  <div>
    <%= form.label :driving_status %>
    <%= form.select :driving_status, @alcohol_log.class.driving_statuses.keys.map {|k| [I18n.t("enums.alcohol_log.driving_status.#{k}"), k]}, { include_blank: true } %>
  </div>

  <div>
    <%= form.label :car_id %>
    <%= form.select :car_id, options_from_collection_for_select(Car.all, :id, :car_number), prompt: '車両を選択' %>
  </div>

  <div>
    <%= form.label :confirmation %>
    <%= form.select :confirmation, @alcohol_log.class.confirmations.keys.map {|k| [I18n.t("enums.alcohol_log.confirmation.#{k}"), k]} %>
  </div>

  <div>
    <%= form.label :detector_used %>
    <%= form.check_box :detector_used, {checked: true}, true, false  %>
  </div>

  <div>
    <%= form.label :result %>
    <%= form.text_field :result %>
  </div>

  <div>
    <%= form.label :condition %>
    <%= form.select :condition, @alcohol_log.class.conditions.keys.map {|k| [I18n.t("enums.alcohol_log.condition.#{k}"), k]} %>
  </div>

  <div>
    <%= form.label :log_remarks %>
    <%= form.text_area :log_remarks %>
  </div>

    <%= form.submit %>
<% end %>
<br>

<div>
<%= link_to t('addition.Back'), alcohol_logs_path %>
</div>


