

<h1><%= t('addition.Alcohol logs') %></h1>
<p class="d-flex justify-content-end">興和電気株式会社</p>

<%= form_with(model: @q, url: alcohol_logs_path, method: :get, remote: false) do |f| %>
  <%= f.date_field :check_time_gteq, class: 'form-control' %>
  <span>~</span>
  <%= f.date_field :check_time_lteq, class: 'form-control'%>
  <%= f.submit '検索', class: "btn btn-outline-primary mt-4" %>
 <%end%>

<%= I18n.l(Date.today, format: :middle) %>

<div class="container">
 <div class="col-12">
<table class="table table-striped m-0">
  <tbody>
    <tr class="table-primary">
      <td colspan="2"><%= t('addition.name&car number') %></td>
      <td colspan="7"><%= t('addition.before driving') %></td>
    </tr>

    <tr>
      <td><%= t('activerecord.attributes.user.name') %></td>
      <td><%= t('activerecord.attributes.alcohol_log.car_id') %></td>
      <td><%= t('activerecord.attributes.alcohol_log.check_time') %></td>
      <td><%= t('activerecord.attributes.alcohol_log.confirmation') %></td>
      <td><%= t('activerecord.attributes.alcohol_log.detector_used') %></td>
      <td><%= t('activerecord.attributes.alcohol_log.result') %></td>
      <td><%= t('activerecord.attributes.alcohol_log.condition') %></td>
      <td><%= t('activerecord.attributes.alcohol_log.log_remarks') %></td>
      <td><%= t('addition.confirmer') %></td>
    </tr>

    <% @before_driving_logs.each do |log| %>
      <tr>
        <td><%= log.user.name %></td>
        <td><%= log.user.car.private_car&.presence || log.user.car.company_car %></td>
        <td><%= I18n.l(log.check_time, format: :long) %></td>
        <td><%= log.confirmation_i18n %></td>
        <td><%= log.detector_used ? '有' : '無' %></td>
        <td><%= log.result %></td>
        <td><%= log.condition_i18n %></td>
        <td><%= log.log_remarks %></td>
        <td></td> <!-- 空欄 -->
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="col-12">
<table class="table table-striped m-0">
  <tbody>
    <tr class="table-primary">
      <td colspan="2"><%= t('addition.name&car number') %></td>
      <td colspan="7"><%= t('addition.after driving') %></td>
      <td colspan="2"><%= t('addition.confirmation field') %></td>
    </tr>

    <tr>
      <td><%= t('activerecord.attributes.alcohol_log.car_id') %></td>
      <td><%= t('activerecord.attributes.alcohol_log.check_time') %></td>
      <td><%= t('activerecord.attributes.alcohol_log.check_time') %></td>
      <td><%= t('activerecord.attributes.alcohol_log.confirmation') %></td>
      <td><%= t('activerecord.attributes.alcohol_log.detector_used') %></td>
      <td><%= t('activerecord.attributes.alcohol_log.result') %></td>
      <td><%= t('activerecord.attributes.alcohol_log.condition') %></td>
      <td><%= t('activerecord.attributes.alcohol_log.log_remarks') %></td>
      <td><%= t('addition.confirmer') %></td>
      <td><%= t('addition.admin') %></td>
      <td></td>
    </tr>
          
    <% @after_driving_logs.each do |log| %>
      <tr>
        <td><%= log.user.name %></td>
        <td><%= log.user.car.private_car&.presence || log.user.car.company_car %></td>
        <td><%= I18n.l(log.check_time, format: :long) %></td>
        <td><%= log.confirmation_i18n %></td>
        <td><%= log.detector_used ? '有' : '無' %></td>
        <td><%= log.result %></td>
        <td><%= log.condition_i18n %></td>
        <td><%= log.log_remarks %></td>
        <td></td> <!-- 空欄 -->
        <td></td> <!-- 空欄 -->

        <td><%= link_to t('addition.Show'), alcohol_log_path(log.user.id), class: "btn btn-outline-primary btn-sm" %></td>
      </tr>
    <% end %>     
  </tbody>
</table>
</div>
</div>